* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    font-weight: 500;
}

body {
    background-color: #FEFFFE;
}

.landing-container {
    width: 1144px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    height: 650px;
    margin-bottom: 200px;
}


/* Sidebar */

.sidebar-container {
    width: 286px;
    height: 530px;
    background-color: #FEFFFE;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.sidebar-header {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.user-image-container {
    margin-top: 10px;
    height: 100px;
    width: 100px;
}

.user-image-container > img {
    height: 100%;
}

.sidebar-header > h2 {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.sidebar-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

.sidebar-item > button {
    margin-left: 10px;
    font-weight: 300;
    font-size: 16px;
    transition: 0.2s;
    border: none;
    background-color: transparent;
    width: 80%;
    text-align: left;
    height: 100%;
}

.sidebar-item:hover > button {
    color: #F23F15;
}

.sidebar-item > div {
    height: 20px;
    width: 20px;
    background-color: white;
    margin: 10px;
    margin-left: 20px;
    position: relative;
}

.side-image > img{
    height: 100%;
    position: absolute;
}

.side-image > img.hover-image {
    height: 100%;
    position: absolute;
    transition: 0.2s;
}

.sidebar-item:hover > div > img.hover-image {
    opacity: 0;
}

/* Main Landing */

.main-landing {
    height: 100%;
    width: 820px;
}

.overview-landing {
    display: none;
}

.landing-header {
    margin: 20px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    width: 780px;
}

.landing-header > h1 {
    color: #F23F15;
}

.landing-header > h3 {
    font-weight: 400;
    font-size: 16px;
}

.landing-overview {
    height: 160px;
    width: 100%;
    margin: 20px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(4, 23%);
    justify-content: space-between;
}

.overview-item {
    background-color: white;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
}

.overview-item > h3 {
    color: #6F7191;
    font-weight: 400;
    font-size: 16px;
}

.item-image {
    height: 35px;
    width: 35px;
    margin: 20px 0;
}

.item-image > img {
    height: 100%;
}

.overview-item > h2 {
    margin-top: auto;
}

.overview-item > h3 {
    margin-bottom: 10px;
}

.order-history-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 20px;
}

.order-history-header > h1 {
    font-size: 25px;
}

.order-history-header > a {
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #FEF2F0;
    color: #F23F15;
    transition: 0.3s;
}

.order-history-header > a:hover {
    color: #FEF2F0;
    background-color: #F23F15;
}


.order-history-grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.history-grid-row {
    display: grid;
    grid-template-columns: 20% repeat(5, 16%);
    grid-template-rows: 100%;
    border-radius: none;
    height: 60px;
    border-bottom: 1px solid #E4E6EA;
}

.history-grid-row.row-header {
    padding: 10px 0;
    display: grid;
    grid-template-columns: 20% repeat(5, 16%);
    grid-template-rows: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    border-bottom: 2px solid #E4E6EA;
    height: 40px;
}

.history-grid-row.last-row {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: none;
}

.history-row-item {
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.history-row-item > h3 {
    text-align: center;
    font-weight: 400;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 20px;
}

.row-header > .history-row-item > h3 {
    text-align: center;
    font-weight: 600;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 20px;
}

.item-status > h3 {
    border-radius: 8px;
}

.order-details {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    padding-left: 10px;
}

.order-details > h3 {
    font-size: 12px;
}

.order-details > h4 {
    font-size: 10px;
    color: #6f7191;
}

.history-row-item.item-action {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.order-detail-image {
    height: 30px;
    width: 30px;
}

.order-detail-image > img {
    height: 100%;
}

@media (max-width: 1150px) {
    .landing-container {
        width: 100%;
    }

    .sidebar-container {
        width: 25%;
        margin-left: 10px;
    }

    .main-landing {
        width: 70%;
    }

    .landing-header {
        width: 60%;
    }
}

@media (max-width: 1024px) {
    .sidebar-container {
        display: none;
    }

    .main-landing {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .landing-overview {
        height: 320px;
        width: 100%;
        margin: 20px;
        display: grid;
        grid-template-rows: 48% 48%;
        grid-template-columns: repeat(2, 45%);
        justify-content: space-between;
        margin-bottom: 0;
    }

    .overview-item {
        height: 90%;
    }
}

/* Orders Section */

.order-summary {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.order-summary > h3 {
    font-size: 20px;
    font-weight: 400;
}

/* Return Orders*/

.return-grid > .history-grid-row {
    display: grid;
    grid-template-columns: 20% repeat(5, 20%);
    grid-template-rows: 100%;
    border-radius: none;
    height: 60px;
    border-bottom: 1px solid #E4E6EA;
}

.return-grid > .order-summary {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.return-grid > .order-summary > h3 {
    font-size: 20px;
    font-weight: 400;
}

@media (max-width: 600px) {
    .order-history-grid {
        background-color: red;
        width: 100%;
        overflow: scroll;
    }

    .order-history-grid > div {
        width: 595px;
    }
}

/* Account Section */

.account-section {
    width: 100%;
    height: 500px;
    padding-left: 20px;
}

.account-section > h1 {
    color: #F23F15;
}

.account-form {
    background-color: white;
    margin-top: 30px;
    width: 100%;
    height: 250px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

form {
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.form-field {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form-field > input {
    padding: 15px;
    border: none;
    border-radius: 8px;
    border: 1px solid #e4e6ea;
    transition: 0.3s;
}

.form-field > input:focus {
    border: 1px solid #FCC9BD;
}

.save-button {
    margin: 30px 10px;
    background-color: #F23F15;
    color: white;
    padding: 15px 20px;
    font-size: 16px;
    border: none;
    border-radius: 40px;
}

/* Password Section */

.password-section {
    margin-left: 20px;
}

/* Address Container */

.address-container {
    padding-left: 20px;
    height: 500px;
    width: 100%;
}

.address-container > h1 {
    color: #F23F15;
}

.address-list {
    background-color: white;
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    border-radius: 24px;
}

.address-list > div{
    border-radius: 16px;
    margin: 20px 0;
}

.address-card {
    background-color: #f6f7f6;
    display: flex;
    flex-direction: column;
    min-height: 180px;
}

.address-header {
    width: 90%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    margin-bottom: 20px;
}

.address-dropdown {
    height: 20px;
    width: 20px;
}

.address-dropdown > img {
    height: 100%;
}

.address-card > p {
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}

.add-address {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #FEF2F0;
}

.add-address > img {
    height: 30px;
}

.add-address > h3 {
    color: #F23F15;
}





